<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if title %}{{ title }} - {% endif %}Privacy Buff</title>
        <link rel="stylesheet" type="text/css" href="https://webfonts.staticly.ict.rocks/nunito/nunito.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/stylesheet.css">
        {% if stylesheet %}<link rel="stylesheet" type="text/css" href="{{ stylesheet }}">{% endif %}
    </head>
    <body class="font-nunito">
        <section class="container">
            {{ content | safe }}
        </section>
    </body>
</html>
